# Framework Aplikasi Web
streamlit

# Manipulasi & Komputasi Data
pandas
numpy

# Visualisasi Data
matplotlib
seaborn

# Natural Language Processing (NLP)
Sastrawi

# Machine Learning
scikit-learn
joblib

# Pengambilan Data (Digunakan di notebook)
google-play-scraper